body {
    background-color: lightblue;
  }
  
  h1 {
    color: white;
    font-family: "Comic Sans MS";
    text-align: center;
  }
  
  p {
    font-family: "Comic Sans MS";
    font-size: 20px;
    text-align: center;
  }

  button {
      font-family: "Perfect DOS VGA 437 Win";
      font-size: 69px;
      color: limegreen;
  }